body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.top-bar {
    background-color: rgb(255, 255, 255); /* Color de la franja */
    height: 30px; /* Ajusta el tamaño de la franja */
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
    position: relative; /* Mantiene la franja en su lugar */
}

.custom-header {
    background-color: #065308; /* Cambia a tu color deseado */
    color: white;
    font-variant-caps: small-caps; /* Cambia la fuente si lo deseas */
    font-size: 1.8em;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}

/* Contenedor del dashboard */
.dashboard-container {
    display: flex; /* Usar flexbox para organizar el menú y el contenido */
}

.sidebar {
    background-color: #065308;
    width: 250px;
    min-height: 100vh;
    padding: 5px;
    border-radius: 10px;
    color: #ecf0f1;
    font-family: Arial, sans-serif;
    box-shadow: 1px 0 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para los enlaces en el menú de la barra lateral */
.sidebar-menu a {
    text-decoration: none;
    color: #ecf0f1;
    padding: 8px 15px; /* Ajusta el padding según necesites */
    display: block;
    border-radius: 10px;
    transition: background 0.3s ease, color 0.3s ease;
    white-space: nowrap;
    font-size: 13px;
    overflow: hidden;

    text-align: left; /* Alinea el texto a la izquierda */
}

.sidebar-menu {
    padding: 0; /* Elimina padding del contenedor del menú */
    margin: 0; /* Elimina margen del contenedor del menú */
}

.sidebar-menu li {
    list-style: none;
    margin: 5px 0; /* Controla el espacio entre botones */
}


.sidebar-menu a:hover {
    background-color: #f1ecec;
    color: #065308;
}

.form-content {
    display: none; /* Ocultar formularios por defecto */
    margin-top: 10px;
}

.dashboard-container a:hover {
    color: #b44e0a; /* Verde claro para el efecto hover */
    text-decoration: underline;
}

/* Estilos adicionales */
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
}

.sidebar-title {
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 30px; /* Ajusta el tamaño de la fuente si es necesario */
    margin-bottom: 20px; /* Espacio debajo del título para separarlo de los elementos de menú */
    color: #ecf0f1; /* Asegúrate de que el color sea el mismo que el de los enlaces */
}

.sidebar {
    min-width: 250px;
    max-width: fit-content; /* Ajusta dinámicamente el ancho según el texto */
}

/*.dashboard-page {
    background-image: url("../img/imagen4vaca.jpg"); /* Ruta de la imagen de fondo 
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo 
    background-repeat: no-repeat;
    background-position: center;
}*/



/* Estilos de la página de inicio de sesión */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #065308;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #2e8a31;
    border-radius: 4px;
}

.btn-primary {
    background-color: #065308;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #053d06;
}

.register-link {
    margin-top: 10px;
    font-size: 0.9em;
}

.register-link a {
    color: #065308;
    text-decoration: underline;
}

/* Estilo de fondo para la página de inicio de sesión */
body.login-page {
    background-image: url("../img/imagen1vaca.jpg");
    background-size: cover; /* Para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita la imagen */
    background-position: center 25%;
}

body {
    background: none; /* Eliminar la imagen de fondo para otras páginas */
}

.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6); /* Fondo blanco semi-transparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}



