body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.top-bar {
    background-color: rgb(255, 255, 255); /* Color de la franja */
    height: 30px; /* Ajusta el tamaño de la franja */
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
    position: relative; /* Mantiene la franja en su lugar */
}
.custom-header {
    background-color: #065308; /* Cambia a tu color deseado */
    color: white;
    font-variant-caps: small-caps; /* Cambia la fuente si lo deseas */
    font-size: 1.8em;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
/* Contenedor del dashboard */
.dashboard-container {
    display: flex; /* Usar flexbox para organizar el menú y el contenido */
}
.sidebar {
    background-color: #065308;
    width: 250px;
    min-height: 100vh;
    padding: 5px;
    border-radius: 10px;
    color: #ecf0f1;
    font-family: Arial, sans-serif;
    box-shadow: 1px 0 4px rgba(204, 5, 5, 0.1);
    position: relative; /* Asegúrate de que el sidebar esté en un contexto posicional */
    z-index: 10; 
}
/* Estilo para los enlaces en el menú de la barra lateral */
.sidebar-menu a {
    text-decoration: none;
    color: #ecf0f1;
    padding: 8px 15px; /* Ajusta el padding según necesites */
    display: block;
    border-radius: 10px;
    transition: background 0.3s ease, color 0.3s ease;
    white-space: nowrap;
    font-size: 13px;
    overflow: hidden;
    text-align: left; /* Alinea el texto a la izquierda */
}
.sidebar-menu {
    padding: 0; /* Elimina padding del contenedor del menú */
    margin: 0; /* Elimina margen del contenedor del menú */
}
.sidebar-menu li {
    list-style: none;
    margin: 5px 0; /* Controla el espacio entre botones */
}
.sidebar-menu a:hover {
    background-color: #f1ecec;
    color: #065308;
}
.form-content {
    display: none; /* Ocultar formularios por defecto */
    margin-top: 10px;
    position:relative
}
.dashboard-container a:hover {
    color: #b44e0a; /* Verde claro para el efecto hover */
    text-decoration: underline;
}
/* Estilos adicionales */
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.8);
}
.sidebar-title {
    text-align: center; /* Centra el texto horizontalmente */
    font-size: 30px; /* Ajusta el tamaño de la fuente si es necesario */
    margin-bottom: 20px; /* Espacio debajo del título para separarlo de los elementos de menú */
    color: #ecf0f1; /* Asegúrate de que el color sea el mismo que el de los enlaces */
}
.sidebar {
    min-width: 250px;
    max-width: fit-content; /* Ajusta dinámicamente el ancho según el texto */
}
/*.dashboard-page {
    background-image: url("../img/imagen4vaca.jpg"); /* Ruta de la imagen de fondo 
    background-size: cover; /* Ajusta la imagen para cubrir todo el fondo 
    background-repeat: no-repeat;
    background-position: center;
}*/
/* Estilos de la página de inicio de sesión */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    text-align: center;
}
.login-container h2 {
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #065308;
}
.form-group {
    margin-bottom: 15px;
    text-align: left;
}
.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #2e8a31;
    border-radius: 4px;
}
.btn-primary {
    background-color: #065308;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-primary:hover {
    background-color: #053d06;
}
.register-link {
    margin-top: 10px;
    font-size: 0.9em;
}
.register-link a {
    color: #065308;
    text-decoration: underline;
}
/* Estilo de fondo para la página de inicio de sesión */
body.login-page {
    background-image: url("../img/imagen1vaca.jpg");
    background-size: cover; /* Para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que se repita la imagen */
    background-position: center 25%;
}
body {
    background: none; /* Eliminar la imagen de fondo para otras páginas */
}
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.6); /* Fondo blanco semi-transparente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
.logout-button {
    background-color: #b69014;      /* Color de fondo */
    color: #065308;                    /* Color del texto */
    border: none;                   /* Sin borde */
    border-radius: 5px;             /* Bordes redondeados */
    padding: 10px 20px;             /* Espaciado interno */
    font-size: 16px;                /* Tamaño de la fuente */
    font-weight: bold;              /* Texto en negrita */
    display: inline-flex;           /* Alinear icono y texto */
    align-items: center;            /* Centrado vertical */
    cursor: pointer;                /* Cambiar el cursor al pasar */
    transition: background-color 0.3s ease; /* Transición para hover */
}
.logout-button i {
    margin-right: 20px;              /* Separación entre icono y texto */
}
.logout-button {
    margin-top: 20px; /* Aumenta el margen superior según sea necesario */
}
.logout-button:hover {
    background-color: white;      /* Color de fondo al pasar */
}
.logout-button:focus {
    outline: none;                  /* Sin borde al seleccionar */
}
.submenu {
    display: none; /* Ocultar el submenú por defecto */
    padding-left: 20px; /* Indentar el submenú */
    background-color: #b69014; /* Cambiar al color de fondo deseado */
    border-radius: 5px; /* Bordes redondeados para el submenú */
    
}
.info-container {
    background-color: #f8f9fa; /* Fondo claro para el contenedor */
    padding: 20px;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
    margin-top: 20px; /* Espaciado superior */
}
.info-text {
    font-size: 18px; /* Tamaño de fuente más grande */
    font-weight: bold; /* Negrita para mayor énfasis */
    color: #333; /* Color oscuro para el texto */
    margin-bottom: 15px; /* Espacio entre el texto y los botones */
    text-align: center; /* Centrar el texto */
}
.info-button {
    background-color: #b69014; /* Color de fondo azul */
    color: #065308; /* Color del texto */
    border: none; /* Sin borde */
    padding: 10px 10px; /* Espaciado interno */
    margin: 5px; /* Espaciado entre botones */
    border-radius: 5px; /* Bordes redondeados en los botones */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}
.info-button:hover {
    background-color: #d7da4e; /* Color más oscuro al pasar el ratón */
}



        /* Estilos para el mensaje de error */

        .messages {
            min-height: 50px; /* Espacio reservado para el mensaje */
            margin-bottom: 10px; /* Margen para separación del contenedor de login */
        }
        .alert {
            padding: 15px;
            border-radius: 5px;
            margin: 10px 0;
            font-weight: bold;
            text-align: center;
            transition: opacity 3s ease;
        }
        
        .alert-error {
            background-color: #f8d7da;
            color: #721c24;
        }

        /* Animación de desvanecimiento */
        .fade-out {
            animation: fadeOut 3s forwards;
        }

        @keyframes fadeOut {
            from { opacity: 1; }
            to { opacity: 0; }
        }
   
       

        .info-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 15px;
            margin-top: 15px;
        }
        
        .info-card {
            background: #f8faf8;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
            text-align: center;
            color: #720a0a;
        }
        
        .info-card h3 {
            margin: 10;
            font-size: 1.1em;
            color: #007bff;
        }
        
        .info-card p {
            font-size: 1.5em;
            font-weight: bold;
        }
        



        
       /* Estilos Generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f6f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.dashboard-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #00030c;
    margin-bottom: 20px;
}

/* Tarjetas de Información */
.info-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas por defecto */
    gap: 10px;
    margin-bottom: 10px;
}

.info-card {
    background-color: #7d8a0c;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 2);
    padding: 5px;
    text-align: center;
    color: #4e73df;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50px; /* Establece una altura mínima para todas las tarjetas */
}

.info-card p {
    font-size: 1.7rem;
    color: #2c2b5a;
    margin: 0;
}

.info-card h3 {
    font-size: 1.4rem;
    margin-top: 10px;
    color: #f5f5f1;
    font-weight: bold;
}

/* Fila 1 - Tarjetas de Leche, más anchas */
.info-card.leche-card {
    grid-column: span 2; /* Esto hace que estas dos tarjetas ocupen dos columnas */
}

/* Fila 2 - Tarjetas Animales en Producción y Terneros */
.info-cards-second-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    gap: 25px;
    margin-bottom: 20px;
}

/* Tarjetas en la fila 2, tamaño estándar */
.info-card.second-row-card {
    min-height: 150px; /* Mantiene la altura uniforme */
}

/* Contenedor de Gráficos */


.charts {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr)); /* Esto asegura que cada gráfico tenga al menos 300px de ancho */
    gap: 20px;
}


.chart h3 {
    text-align: center;
    color: #770505;
    margin-bottom: 15px;
}




/* Estilo General para los Contenedores de Gráficos */
.chart-container {
    background-color: #ecf0c5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1.4);
    padding: 5px;
    margin-top: 5px;  /* Añadido margen superior para separar de las tarjetas */
    text-align: center;
    visibility: visible;  /* Asegúrate de que el contenedor sea visible */
    display: block;  /* Asegúrate de que el contenedor esté visible en la página */
}

.chart-container h3 {
    color: #000c08; /* Color para los títulos de los gráficos */
    font-size: 1.5rem;
    margin-bottom: 50px;
}
.chart-container {
    max-width: 100%;
    margin: 5px 0;
}

canvas {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
