<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mi Proyecto Ganadero{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">  >
</head>
<body>
    <header>
        <h1>Bienvenido a la Gestión Ganadera</h1>
        <nav>
            <ul>
                <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li><a href="{% url 'agregar_produccion_leche' %}">Agregar Producción de Leche</a></li>
                
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>© 2024 Mi Proyecto Ganadero</p>
    </footer>
</body>
</html>
