{% extends 'base.html' %}

{% block title %}Dashboard - Mi Aplicación Ganadera{% endblock %}
{% block content %}
<body class="dashboard-page">
    <div class="row">
        <!-- Sidebar -->
        <div class="sidebar">
            <h2 class="sidebar-title">Menú</h2>
            <ul class="sidebar-menu">
                <li><a href="#" onclick="showDashboard(event)">Dashboard</a></li>
                <li>
                    <a href="#" onclick="toggleMenu(event, 'register-menu')">Registro</a>

                    <ul class="submenu" id="register-menu"style="display: none;">
                        <li><a href="#" onclick="showForm('finca_create')">Registrar Nueva Finca</a></li>
                        <li><a href="#" onclick="showForm('vaca_create')">Registrar Nueva Vaca</a></li>
                        <li><a href="#" onclick="showForm('ternero_create')">Registrar Nuevo Ternero</a></li>
                        <li><a href="#" onclick="showForm('produccion_leche_create')">Registrar Producción de Leche</a></li>
                        <li><a href="#" onclick="showForm('peso_vaca_create')">Registrar Peso de Vaca</a></li>
                        <li><a href="#" onclick="showForm('peso_ternero_create')">Registrar Peso de Ternero</a></li>
                    </ul>
                </li>
                <div class="info-container">
                    <p class="info-text">¡Conoce mejor tu ganado! Haz clic </p>
                    <button class="info-button" onclick="showInfo('vacas')">Vacas</button>
                    <button class="info-button" onclick="showInfo('terneros')">Terneros</button>
                </div>
                <button class="logout-button">
                    <i class="fas fa-sign-out-alt"></i> <a href="{% url 'logout' %}">Cerrar Sesión</a>
                </button>
            </ul>
        </div>
        
        <!-- Contenido principal -->
        <div class="col-md-9">
            {% if messages %}
                <ul class="alert-messages">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            
            <!-- Dashboard Content -->
            <div id="dashboard-content" class="tabcontent" style="display: block;">
                <h2>Información General</h2>

                <!-- Contenedor de la cuadrícula -->
                <!-- Fila 1: Tarjetas de Leche -->
                <div class="info-cards">
                    <div class="info-card leche-card">
                        <h3>Leche Últimos 30 Días</h3>
                        <p id="leche-ultimos-30-dias">{{ leche_ultimos_30_dias }} Litros</p>
                    </div>
                    <div class="info-card leche-card">
                        <h3>Leche Producida Hoy</h3>
                        <p id="leche-hoy">{{ leche_hoy }} Litros</p>
                    </div>
                </div>

                <!-- Fila 2: Animales en Producción y Terneros -->
                <div class="info-cards-second-row">
                    <div class="info-card second-row-card">
                        <h3>Animales en Producción</h3>
                        <p>{{ animales_en_produccion }}</p>
                    </div>
                    <div class="info-card second-row-card">
                        <h3>Terneros Machos</h3>
                        <p id="terneros-machos">{{ terneros_machos }}</p>
                    </div>
                    <div class="info-card second-row-card">
                        <h3>Terneros Hembras</h3>
                        <p id="terneros-hembras">{{ terneros_hembras }}</p>
                    </div>
                </div>

                <!-- Fila 3: Gráficos -->
                <div class="charts">
                    <!-- Gráfico de leche producida -->
                    <div class="chart-container">
                        <h3>Producción de Leche</h3>
                        <canvas id="leche-chart"></canvas> <!-- Este ID debe coincidir con el usado en JavaScript -->
                    </div>

                    <!-- Gráfico Donut para los Terneros -->
                    <div class="chart-container">
                        <h3>Cantidad de Terneros</h3>
                        <canvas id="donut-chart"></canvas> <!-- Este ID debe coincidir con el usado en JavaScript -->
                    </div>
                </div>
            </div>


                    
                </div>
                <div id="leche-data" 
                data-leche-ultimos-30="{{ leche_ultimos_30_dias|default:0 }}" 
                data-leche-hoy="{{ leche_hoy|default:0 }}">
           </div>
           
           <div id="terneros-data" 
                data-terneros-machos="{{ terneros_machos|default:0 }}" 
                data-terneros-hembras="{{ terneros_hembras|default:0 }}">
            </div>
            
            
            <!-- Formularios -->
            <!-- Formulario de Registrar Nueva Finca -->
            <div class="form-content" id="finca_create" style="display:none;">
                <h2>Registrar Nueva Finca</h2>
                <form method="post" action="{% url 'finca_create' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nombreFinca">Nombre de la Finca:</label>
                        <input type="text" name="nombre" class="form-control" id="nombreFinca" placeholder="Nombre de la Finca" required>
                    </div>
                    <div class="form-group">
                        <label for="cantidadHectareas">Cantidad de Hectáreas:</label>
                        <input type="number" name="hectareas" class="form-control" id="cantidadHectareas" placeholder="Cantidad de Hectáreas" required>
                    </div>
                    <div class="form-group">
                        <label for="ciudad">Ciudad:</label>
                        <input type="text" name="ciudad" class="form-control" id="ciudad" placeholder="Ciudad" required>
                    </div>
                    <div class="form-group">
                        <label for="asn">ASN:</label>
                        <input type="number" name="asnm" class="form-control" id="asn" placeholder="ASN" required>
                    </div>
                    <div class="form-group">
                        <label for="temperatura">Temperatura:</label>
                        <input type="number" name="temperatura" class="form-control" id="temperatura" placeholder="Temperatura (°C)" required>
                    </div>
                    <div class="form-group">
                        <label for="capacidadAnimales">Capacidad de Animales:</label>
                        <input type="number" name="capacidad" class="form-control" id="capacidadAnimales" placeholder="Capacidad de Animales" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>

            <!-- Otros formularios como 'Registrar Nueva Vaca',-->
            <div class="form-content" id="vaca_create" style="display:none;">
                <h2>Registrar Nueva Vaca</h2>
                <form method="post" action="{% url 'vaca_create' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="fechaNacimientoVaca">Fecha de Nacimiento:</label>
                        <input type="date" name="fecha_nacimiento" class="form-control" id="fechaNacimientoVaca" required>
                    </div>
                    <div class="form-group">
                        <label for="razaVaca">Raza:</label>
                        <input type="text" name="raza" class="form-control" id="razaVaca" placeholder="Raza" required>
                    </div>
                    <div class="form-group">
                        <label for="colorVaca">Color:</label>
                        <input type="text" name="color" class="form-control" id="colorVaca" placeholder="Color" required>
                    </div>
                    <div class="form-group">
                        <label for="observacionesVaca">Observaciones Generales:</label>
                        <textarea name="observaciones" class="form-control" id="observacionesVaca" placeholder="Observaciones" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>

            <!-- Formulario de Registrar Nuevo Ternero -->
            <div  class="form-content" id="ternero_create" style="display:none;">
                <h2>Registrar Nuevo Ternero</h2>
                <form method="post" action="{% url 'ternero_create' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="fechaNacimientoTernero">Fecha de Nacimiento:</label>
                        <input type="date" class="form-control" id="fechaNacimientoTernero" name="fecha_nacimiento" required>
                    </div>
                    <div class="form-group">
                        <label for="razaTernero">Raza:</label>
                        <input type="text" class="form-control" id="razaTernero" name="raza" placeholder="Raza" required>
                    </div>
                    <div class="form-group">
                        <label for="colorTernero">Color:</label>
                        <input type="text" class="form-control" id="colorTernero" name="color" placeholder="Color" required>
                    </div>
                    <div class="form-group">
                        <label for="sexoTernero">Sexo:</label>
                        <select class="form-control" id="sexoTernero" name="sexo" required>
                            <option value="">Seleccione...</option>
                            <option value="Macho">Macho</option>
                            <option value="Hembra">Hembra</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="observacionesTernero">Observaciones Generales:</label>
                        <textarea class="form-control" id="observacionesTernero" name="observaciones" placeholder="Observaciones" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Registrar</button>
                </form>
            </div>

             <!-- Formulario de Registrar Producción de Leche -->
                 
        <div id="produccion_leche_create" class="form-content" style="display:none;">
            <h2>Registrar Producción de Leche</h2>
            <form method="post" action="{% url 'produccion_leche_create' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="idVacaProduccion">ID de la Vaca:</label>
                    <input type="text" class="form-control" name="vaca" id="idVacaProduccion" placeholder="ID de la Vaca" required>
                </div>
                <div class="form-group">
                    <label for="cantidadLecheDia">Cantidad de Leche (litros):</label>
                    <input type="number" class="form-control" name="cantidad_leche" id="cantidadLecheDia" placeholder="Cantidad de Leche por Día" required>
                </div>
                <div class="form-group">
                    <label for="observacionDiaria">Observación Diaria:</label>
                    <textarea class="form-control" name="observacion" id="observacionDiaria" placeholder="Observación Diaria" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
            <div id="message-container"></div>
        </div>
        <!-- Formulario de Registrar Peso de Vaca -->
        <div id="peso_vaca_create" class="form-content" style="display:none;">
            <h2>Registrar Peso de Vaca</h2>
            <form method="post" action="{% url 'peso_vaca_create' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="idVacaPeso">ID de la Vaca:</label>
                    <input type="text" class="form-control" name="vaca" id="idVacaPeso" placeholder="ID de la Vaca" required>
                </div>
                <div class="form-group">
                    <label for="fecha">Fecha Peso:</label>
                    <input type="date" class="form-control" name="fecha" id="fecha" required>
                </div>
                <div class="form-group">
                    <label for="pesoVaca">Peso (kg):</label>
                    <input type="number" class="form-control" name="peso" id="pesoVaca" placeholder="Peso (kg)" required>
                </div>
                <button type="submit" class="btn btn-primary">Registrar</button>
            </form>
            <div id="message-container" style="display:none;"></div>
        </div>
        
        <!-- Formulario de Registrar Peso de Ternero -->
<div id="peso_ternero_create" class="form-content" style="display:none;">
    <h2>Registrar Peso de Ternero</h2>
    <form method="post" action="{% url 'peso_ternero_create' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="idTerneroPeso">ID del Ternero:</label>
            <input type="text" class="form-control" name="ternero" id="idTerneroPeso" placeholder="ID del Ternero" required>
        </div>
        <div class="form-group">
            <label for="fecha">Fecha Peso:</label>
            <input type="date" class="form-control" name="fecha" id="fecha" required>
        </div>
        <div class="form-group">
            <label for="pesoTernero">Peso (kg):</label>
            <input type="number" class="form-control" name="peso" id="pesoTernero" placeholder="Peso (kg)" required>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
    <div id="message-container" style="display:none;"></div>
</div>
   
</body>



{% endblock %}


