
{% extends "base.html" %}

{% block content %}
<h2>Bienvenido al Control Ganadero</h2>

{% if not user.is_authenticated %}
    <!-- Formulario de Inicio de Sesión -->
    <h3>Iniciar Sesión</h3>
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Ingresar</button>
    </form>
    <p>¿No tienes cuenta? <a href="{% url 'register' %}">Regístrate aquí</a></p>
{% else %}
    <!-- Mensaje de Bienvenida para Usuarios Autenticados -->
    <p>Hola, {{ user.username }}! Bienvenido al Control Ganadero.</p>
    <p><a href="{% url 'dashboard' %}">Ir al Dashboard</a></p>
{% endif %}
{% endblock %}
